@use "./variables" as *;

header {
  li {
    font-family: "Bahnschrift SemiBold";
    font-size: 0.9rem !important;
    color: $dark !important;
    position: relative; // to use the active class
    line-height: 7; // use the number without units, because I say the total height of the line is 6 font size
  }

  .active {
    color: $accenture !important;
  }

  .active:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 6px;
    width: 100%;
    background-color: $accenture;
  }
}
